<div>
  <footer style="margin-top: 20px; padding: 10px; text-align: center; border-top: 1px solid #ccc;">
    <p>&copy; 2026 Instagram Practice</p>
    <p>Made with ❤️ using Node.js & EJS</p>
  </footer>
  
  </html>
  
</div>