<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INSTAGRAM</title>
  <style>
    img{
      height: 100px;
      width: 100px;
    }
  </style>
</head>
</html>


<!--  includes humlog use karte h template ka template banane k liye -->