<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<%=successmsg%> 
<%=errormsg%> 
<!-- sirf ek baar message print ho gya kyuki flash use ho rha hai -->
  <h1> HELLO,<%=name%></h1>
</body>
</html>