
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Write New Chats</title>
</head>
<body>
  <form method="POST" action="/chats">

   <input placeholder="who are you?" name="from"/>

   

   <textarea name="message"  cols="30" rows="10"> Write your message here</textarea>

   <input placeholder="add receiver" name="to"/>

   

   <button>Create chat</button>

  </form>
</body>
</html>