<% layout("layout/boilerplate") %>

  <form method="POST" action="/form">
    <input name="First_name" placeholder="Enter First Name" /><br><br>
    <input name="Last_name" placeholder="Enter Last Name" /><br><br>
    <input name="Phone_Number" placeholder="Enter Phone Number" /><br><br>
    <input name="email" placeholder="Enter Email" /><br><br>
   
    <button type="submit">SUBMIT</button>
  </form>
