<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <h1> HI , This is a home page </h1>
  <p>
    <ul>
      “You have to believe in yourself when no one else does.” — ...
      “When you have a dream, you've got to grab it and never let go.” — ...
      “Spread love everywhere you go. ...
      “Be yourself; everyone else is already taken.” — ...
      “The biggest adventure you can take is to live the life of your dreams.” —
    </ul>
  </p>
  
</body>
</html>